.PaymentForm{
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}
.backimgfordonate{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.donate-content {
  position: relative;
  left: 5%;top: -3%;
}

.donate-empty-margin-top{
  height: 8rem;
}

.donate-desc{
  margin-top: 5%;
  width: 100%;
}


#donate-container {
  position: absolute;
  right: 5%;
  width: 40%;
  height: 60%;
  padding: 5%;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: 2px solid #00B088;
}

#donate-page-container {
  position: absolute;
  top: 8rem;
  justify-self: center;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white ;
  border-radius: 15px;
}



.donate-field{
  height: 90%;
  width: 90%;
  padding-bottom: 1pt;
}

#donate-form {
  position: absolute;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}


.donate-subtext {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Outfit',sans-serif;
  font-size: 14pt;
  font-weight: normal;
  color: #000;
}

.donate-label {
  font-family: 'Outfit',sans-serif;
  font-size: 14pt;
  font-weight: bold;
  text-align: justify;
}

.donate-input {
  margin-top: 10px;
  height: 40pt;
  font-family: 'Outfit',sans-serif;
  text-align: left;
  padding-left: 3%;
  width: 100%;
  margin-bottom: 2%;
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.2em;
  box-sizing: border-box;
}

.donate-input-usd {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="60"><text x="20" y="35" style="font: bold 24px consolas;">$</text></svg>') no-repeat;
  margin-top: 10px;
  height: 40pt;
  font-family: 'Outfit',sans-serif;
  text-align: left;
  padding-left: 10%;
  width: 100%;
  margin-bottom: 2%;
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.2em;
  box-sizing: border-box;
}

.donate-input::placeholder {
  text-align:left;
}

#donate-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.donate-btn{
  width: 100%;
  height: 6vh;
  margin-top: 5%;
  font-family: 'Outfit',sans-serif;
  border: none;
  border-radius: 10px;
  background-color: #00B088;
  color: #fff;
  font-size: 1.3em;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-login:hover{
  background-color: #029270;
  transition: 0.2s ease-in-out;
}


.donate-line{
  border-radius:10px ;
  width: 180%;
  margin-top:1rem ;
  margin-bottom: 1rem;
  height: 10px;
  background-color: #00B088;
  }

  .donate-btn-amount{
    width: 100%;
    height: 6vh;
    font-family: 'Outfit',sans-serif;
    border: none;
    border-radius: 10px;
    background-color: #00B088;
    color: #fff;
    font-size: 1.3em;
    font-weight: normal;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    align-items: center;
    
  }
  .checkmark-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .checkmark {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #28a745;
    position: relative;
    box-sizing: content-box;
    transition: all 0.3s ease-in-out;
  }
  
  .checkmark.checked {
    background-color: #28a745;
  }
  
  .checkmark-stem {
    position: absolute;
    width: 3px;
    height: 20px;
    background-color: #fff;
    top: 34px;
    left: 22px;
    transform: rotate(45deg);
  }
  
  .checkmark-kick {
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: #fff;
    top: 43px;
    left: 15px;
    transform: rotate(-45deg);
  }
  
  @keyframes checkmark-animation {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .checkmark.checked:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    animation: checkmark-animation 0.5s;
  }

  @keyframes checkmark {
    0% {
      stroke-dashoffset: 24;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

.checkmark {
  display: inline-block;
  width: 5em;
  height: 5em;
  vertical-align: middle;
}

.checkmark path {
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
  animation: checkmark 0.5s ease-in-out forwards;
}