.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 11%;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 1%;
    overflow: hidden;
    text-decoration: none;
  }
a{
  text-decoration: none;
}
  .user-info {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 5vh;
  }
  
  .user-info h2 {
    font-size: 18pt;
    margin-top: 2rem;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: 282828;
  }
  
.side-element {
    position: relative;
    list-style-type: none;
    margin-left: 2rem;
    padding: 0;
}
  
  .side-element-li {
    z-index: 10;
    font-size: 16pt;
    font-family: 'Outfit',sans-serif;
    font-weight: 500;
    color: #282828;
    padding-bottom: 2vh;
    cursor: pointer;
    position: relative;
  }

#side-bar-li-back {
    z-index: 1;
    background-color: #00B088;
    border-radius: 3px;
    position: absolute;
    width: 80%;
    height: 5vh;
    left: 0%;
    top: 0;
    transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1) 0.03s;
}
.logout-btn{
  position: absolute;
  margin-left: 1vw;
  bottom: 5%;
}

.flag{
  margin-top: 14%;
  padding-right: 7%;
}
.countryname-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}