.backimgforparis{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover
  }

.conatainervideo{
    display: grid;
    height: 50vh;
    grid-template-columns: 2fr;
    grid-template-rows: (2, 1fr);
    align-items: center;
    margin-top: 10vh;
    place-items: center;
}

#paris-container {
  position: relative;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}


.paris-page-container {

}