h1{
    font-size: 32pt;
    font-family: 'Outfit',sans-serif;
    font-weight: bold;
}

.hor-div{
    display: flex;
    flex-direction: row;
}

.green-btn {
    width: 7rem;
    padding: 0.5rem;
    padding-bottom: 0.6rem;
    border-radius: 10px;
    background-color: #00B088;
  }

.green-btn:hover {
    
    background-color: #029270;
    transition: 0.3s ease-in-out;
  }

.green-btn-text{
    color: #fff;
    margin: 0%;
    font-family: 'Outfit' ,sans-serif;
    font-size: 20pt;
    font-weight: 500;
  }
