.footer-container {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./back-footer.png");
    height: 20rem;
    width: 100vw;
}

.footer-content1 {
    position: absolute;
    left: 0;
    padding-left: 10vw;
}
.footer-content2 {
  
    position: absolute;
    right: 10vw;
}

.footer-t{
  padding-bottom: 1vh;
}

